.Home_container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.Home_header{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--title-color);
    background-image: url('../../../public/head_bg.png');
}
.Home_header span{
    font-family: var(--second-font);
    font-size: var(--h1-font-size);
}
.Home_content{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: .5rem;
    gap: .5rem;
}
.Home_content_item{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    /* background-color: var(--white-color);  */
}
.Home_content_basicData{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}
.Home_content_item_gamehot{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.Home_content_footer{
    width: 450px;
    height: 130px;
    border-radius: .5rem;
    background-image: url("../../../public/kpl-main.jpeg");
    background-size:cover;
    background-position: center;
}
/* @media screen and (max-width: 1200px){
    .Home_content{
        display: grid;
        margin-inline: .5rem;
        margin-top: 1rem;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}
@media screen and (max-width: 450px) {
    .Home_content{
        display: flex;
        margin-inline: 1rem;
        margin-top: 1rem;
            flex-direction: column;
    }
} */